.header{
    width: 100%;
    height: 90px;
   
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 4rem;
    z-index: 10;
   
    
}
.header .logo img{
    height: 88px;
    width: 116px;
}
.header .nav ul{
   display: flex;
   gap:3rem;
   list-style: none;
}
.header .nav .nav-bar{

    display: none;
}
.header .nav ul li{
    font-weight: 500;
    font-size: 1.2rem;
}
.header .nav ul li:hover{
    border-bottom: 4px solid var(--blue-color);
    color: var(--blue-color);
}
 /* media section starts here */
 @media (max-width:1020px){
   
 }
 @media (max-width:910px){
    .header .nav ul{
        gap: 2rem;
    }
    .header .nav ul li{
        font-weight: 500;
        font-size: 1rem;
    }
 }
 @media (max-width:767px){
    .header .nav ul{
       display: none;
     }

    .header .nav .nav-bar{

        display: block;
    }
 }
 @media (max-width:607px){
    .header .nav ul{
        display: none;
      }
 
     .header .nav .nav-bar{
 
         display: block;
     }
 }
 
 
  /* media section end here */